## Deliverable 2. Create a Customer Travel Destinations Map.

In [55]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [56]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Nagato,JP,34.3833,131.2000,41.20,63,86,5.35,overcast clouds
1,1,Rabat,MA,33.9911,-6.8401,54.05,93,4,0.00,clear sky
2,2,Thompson,CA,55.7435,-97.8558,2.88,92,100,5.86,overcast clouds
3,3,Nishihara,JP,26.1842,127.7558,63.68,63,75,11.50,broken clouds
4,4,Belaya Gora,RU,68.5333,146.4167,-42.77,100,76,0.58,broken clouds

In [57]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [58]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
10,10,Georgetown,MY,5.4112,100.3354,79.90,78,20,9.22,few clouds
15,15,Atuona,PF,-9.8000,-139.0333,78.55,74,7,17.16,clear sky
18,18,Vaini,TO,-21.2000,-175.2000,78.76,82,35,19.33,light rain
19,19,Varadero,CU,23.1536,-81.2514,79.56,62,1,14.47,clear sky
22,22,Kota Bahru,MY,6.1333,102.2386,74.57,80,74,4.41,broken clouds
23,23,Kapaa,US,22.0752,-159.3190,70.20,72,90,1.01,overcast clouds
24,24,Harindanga,IN,22.0383,88.3214,71.58,94,100,14.58,overcast clouds
28,28,Marsh Harbour,BS,26.5412,-77.0636,75.67,65,5,8.59,clear sky
30,30,Sao Gabriel Da Cachoeira,BR,-0.1303,-67.0892,74.75,98,100,1.70,overcast clouds
32,32,Isangel,VU,-19.5500,169.2667,80.94,78,100,11.10,overcast clouds

In [59]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                324
City                   324
Country                321
Lat                    324
Lng                    324
Max Temp               324
Humidity               324
Cloudiness             324
Wind Speed             324
Current Description    324
dtype: int64

In [60]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [61]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
10,Georgetown,MY,79.90,few clouds,5.4112,100.3354,
15,Atuona,PF,78.55,clear sky,-9.8000,-139.0333,
18,Vaini,TO,78.76,light rain,-21.2000,-175.2000,
19,Varadero,CU,79.56,clear sky,23.1536,-81.2514,
22,Kota Bahru,MY,74.57,broken clouds,6.1333,102.2386,
23,Kapaa,US,70.20,overcast clouds,22.0752,-159.3190,
24,Harindanga,IN,71.58,overcast clouds,22.0383,88.3214,
28,Marsh Harbour,BS,75.67,clear sky,26.5412,-77.0636,
30,Sao Gabriel Da Cachoeira,BR,74.75,overcast clouds,-0.1303,-67.0892,
32,Isangel,VU,80.94,overcast clouds,-19.5500,169.2667,

In [62]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [68]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.head(10)
clean_hotel_df = hotel_df.dropna()

In [69]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [70]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [79]:
# 11a. Add a marker layer for each city to the map. 

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 11a. Add a marker layer for each city to the map. 

locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))